<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/todolist">To Do App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/todolist">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/todolist/add_task">Add Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/todolist/add_event">Add Event</a>
        </li>
        {% if user.is_anonymous == True %}
          <li class="nav-item">
            <a class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="register">Register</a>
          </li>
        {% endif %}
        {% if user.is_anonymous == False %}
          <li class="nav-item">
            <a class="nav-link" href="update_profile">Update Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>